<?xml version="1.0" encoding="windows-1252"?>
<!-- A maximum of 30 devices can be defined for this application-->
<!-- The allowed deivces are:
    -SiemensETH
    -OPCUA -->
<uvg>
    <devices>
        <device name="" type="" port=""/>
    </devices>

    <variables>
        <variable source="" sourceaddress="" destination="" destinationaddress=""/>
    </variables>
</uvg>